h1{
    color: white;
    align-self: center;
    font-size: 39px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 61px;
    width: 390px;
    background: #0E2954;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.back{
    position: absolute;
    align-self: center;
    translate: -160px;
}
.download{
    translate: 20px;
}
.print{
    translate: 60px 3px;
}
.scroll{
    width: 390px;
    height: 800px;
    display: grid;
    overflow-y: scroll;
    margin-top: 20px;
    row-gap: 5px;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.page{
    width: 370px;
    height: 500px;
}
.page img{
    width: 100%;
    height:100%;

}
